body {
  font-family: sans-serif;
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app{
	width: 500px;
	height: 500px;
	perspective:  0 200px;
	background: #EBEBEB;
	position: relative;
	display: flex;
	margin: auto;
}

.button{
	background: #cad2c5;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.05);
	width: 10%;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.5);
	height: 20%;
	min-width: 25%;
	text-align: center;
	margin: 16px;
}

.set-break,.set-session{
	display: flex;
}