body {
  font-family: sans-serif;
  background: #383f51;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1{
	text-align: center;
}

.app{
	width: 500px;
	height: 300px;
	padding: 24px;
	padding-top: 8px;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
}

.button {
	background: green;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.05);
	width: 25px;
	height: 25px;
	color: white;
	min-width: 25%;
	text-align: center;
	margin-right : 24px;
	margin-left : 24px;
	padding: 4px;
	cursor: pointer;
	border-radius: 10%;
}

#start_stop,#reset{
	width: 50px;
	height: 30px;
	background: dodgerblue;
	margin-top: 4px;
}

#reset{
	background: #e84a4a;
}

.setting-section{
	margin-bottom: 16px; 
	display: flex;
	text-align: center;
}

.set-break, .set-session{
	margin: 8px 16px auto;
	text-align: center;
}

.session-control,.break-control,.trigger-control{
	display: flex;
	padding: 16px;
	margin-left: 8px;
}

#break-length,#session-length, #time-left{
	font-size: 20px;
	margin-right: 4px;
}

#session-label,#break-label,#timer-label{
	margin-left:24px;
	font-size: 24px;
}

.display-clock{
	text-align: center;
	margin: auto;
}

.trigger-control{
	margin-right: 16px;
}

#timer-label,#time-left{
	font-size: 32px;
}